@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
body {
  margin: 0px;
  font-family: 'Mingzat', sans-serif;
}
header{
  top: 0px;
  position: sticky;
}
nav{
  padding: 5px;
  background: #858DE8;
}
nav h1{
  margin: 0px 20px;
  color: whitesmoke;
  font-size: 24pt;
  float: left;
}
nav li{
  display: inline;
}
nav a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 14pt;
}
.banner-img{
  width: 60%;
  height: 60%;
  float: right;
}
/* class universal */
.flex{display: inline;}

@media screen {
  
}
